

/**

   reset css :
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; 
  background: #6e5ae2;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
/* end reset */


/*
    photobox : nav
 */
div, nav, section, p, h1, h2 {
  box-sizing: border-box; }

nav {
  padding: 2em;
  font-size: 1.2em;
  background-color: #8b73ff;
  border: #040131 2px ridge;
}
nav * {
  font-size: 1.2em;
}

button {
	padding: 6px 10px;
	font-size: 25px;
	border: 3px solid #1d10d1;
	color: #ca4e8d;
	border-radius: 12px;
	background: #e1a3ff;
	font-weight: bold;
	font-family: 'Arial', sans-serif;
}

button:hover {
	background: #1b7ec0;
	color: rgb(9, 61, 104);
	transition: 0.4s;
}


.boutons{
  text-align: center;
}
/**
  photobox : Galerie
 */
.gallery-container {
    padding: 3em;
    display: block;
	text-align: center;
    /*grid-template-columns: repeat(auto-fit, minmax(20em,1fr));
    grid-gap: .2em;
    grid-gap: .2em;*/

}

.vignette img {
    max-width: 100%;
    height: auto; }


/**
  photobox : Lightbox
 */
.lightbox_container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.lightbox_container--hidden {
    display : none;
}
.lightbox_container--visible {
    display : block;
}
.comm{
  display: block;
  margin: 100px auto;
  width: 800px;
  padding: 20px ;
  color: #ca4e8d;
  background-color: #e1a3ff;
  border: #e86aaf 3px solid;


}
.owner{
  text-align: left;
  font-size: medium;
  color: aliceblue;
  background-color: #e1a3ff;
  width: 180px;
  border: white 2px solid;
}

#lightbox_close {
  float: left;
  font-size: 50px;
  margin-left: 30px;
  width: 50px;
  border: #bd0871 2px solid;
}

#lightbox_title {
  text-align: center;
  font-size: 40px;
  background-color: #e1a3ff;
  height: auto;
}

#lightbox {
    width: 100vw;
    background: #6e5ae2;
}

#lightbox-img {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100vw;
    height: 100vh;
}


#prev-img, #next-img {
  height: 70px;
  width: 70px;
}

#prev-img {
  margin-left : 150px;
  transform: rotate(180deg);
}

#next-img {
  margin-right : 150px;
}

#infos-photo {
  display: block;
  text-align: center;
  margin-top : 20px;
  font-size: 20px;
  min-height: 200vh;
    background-color: #6e5ae2;
    color: floralwhite;
    
}

#lightbox-img img {
    display: block;
    margin: auto;
    width: auto;
    height: 500px;
    max-height: 100%;
    max-width: 100%;
    

}
#lightbox-head {
    height: 8%;
    width: 100%;
    background-color: #6e5ae2;
    color: floralwhite;
}

.hide{
    display: none;
}